body {
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

html {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='545' preserveAspectRatio='none' viewBox='0 0 1440 545'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2046%26quot%3b)' fill='none'%3e%3crect width='1440' height='545' x='0' y='0' fill='url(%23SvgjsLinearGradient2047)'%3e%3c/rect%3e%3cpath d='M89.61 623.83C213.72 619.81 315.83 429.18 546.44 428.88 777.04 428.58 774.85 497.01 1003.26 497 1231.68 497.01 1344.62 429.07 1460.09 428.88' stroke='rgba(170%2c 185%2c 200%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M837.67 630.65C912.26 630.41 898.48 579.22 1130.8 575.1 1363.11 570.98 1558.25 334.73 1717.05 329.85' stroke='rgba(170%2c 185%2c 200%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M629.43 580.71C797.83 554.38 884.84 150.97 1157.03 148.88 1429.21 146.79 1546.55 310.52 1684.62 312.38' stroke='rgba(170%2c 185%2c 200%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M522.53 557.76C637.74 547.81 713.32 312.66 914.11 311.54 1114.89 310.42 1109.89 379.66 1305.68 379.66 1501.47 379.66 1597.9 311.79 1697.26 311.54' stroke='rgba(170%2c 185%2c 200%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M702.48 548.08C818.96 519.65 752.99 221.88 1037.88 205.26 1322.77 188.64 1533.97 11.06 1708.68 9.06' stroke='rgba(170%2c 185%2c 200%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2046'%3e%3crect width='1440' height='545' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2047'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(157%2c 173%2c 224%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  overflow: hidden;
  background-color: #eff0f6;
  color:  black;	
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5px;
}

.topnav {
  overflow: hidden;
  background-color: #eff0f6;
  border-radius: 5px;
}

.topnav a, .topnav span {
  float: left;
  color:  black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ff4242;
}

.topnav a.active {
  background-color: #ca2301;
  color: white;
}

/* Right aligned navigation items */
.topnav-right {
	float: right
}

.search input[type=text] {
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  margin-top: 10px;
  margin-left: 10px;
  outline: 0;
  float: left;
  width: 30%;
  background: white;
}

.search button {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #eff0f6;
  color: black;
}

.search button:hover, .login-form button:hover {
	background: #ff4242;
	opacity: 0.7;
}

/* style cards that hold the game data */
.roundcard {
  border-radius: 25px;
  border: 4px solid #eff0f6;
  margin-top:7px;
  margin-bottom:7px;
  margin-left:6px;
  margin-right:7px;
  padding: 20px; 
  width: 700px;
  height: 220px;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  opacity: 0.8;
}

.gamedata {
  margin-top:3px;
  margin-bottom:3px;
  margin-left:3px;
  margin-right:3px;	
}

.footer {
  overflow: hidden;
  background-color: #eff0f6;
  border-radius: 5px;
  bottom: 8px;
  right: 8px;
  position: fixed;
}

.footer a {
  float: right;
  color:  black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footer a:hover {
  background-color:  #ff4242;
}

.footer a.active {
	background-color: #ca2301;
	color: white;
}

.login-container {
  height: 100vh;
  position: relative;
  top: 25px;
}

.login {
  margin: auto;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.login-header > h2 {
  margin: 0;
  color: #ca2301;
}

.login-header > h4 {
  margin-top: 10px;
  font-weight: thick;
  font-size: 16px;
  color: black;
}

.login-form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.login-form > p {
  text-align: right;
}

.login-form > p > a {
  color: #000;
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: Calibri, sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: black;
}

.login-anchor {
	color: #9ca7fd;
}

.login-form > input[type="submit"] {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #ff4242 0%, #ca2301 100%); 
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: Calibri, sans-serif;
}

.login-form > input[type="submit"]:hover, .new-list-button:hover {
	background: linear-gradient(to right, #ca2301 0%, #ff4242 100%);
	cursor: pointer;
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 0.3s;
}

.a2 {
  animation-delay: 0.4s;
}

.a3 {
  animation-delay: 0.5s;
}

.a4 {
  animation-delay: 0.6s;
}

.a5 {
  animation-delay: 0.7s;
}

.a6 {
  animation-delay: 0.8s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}

.empty-list-info p {
	font-size: 40px;
	margin-left: 25px;
}

.new-list-button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #ff4242 0%, #ca2301 100%); 
  border-radius: 3px;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 1px;
  font-family: Calibri, sans-serif;
  width: 200px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.inner-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.inner-popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.inner-popup .close:hover {
  color: #ff4242;
}
.inner-popup .content {
  max-height: 30%;
  overflow: auto;
}





