body {
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

html {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='529' preserveAspectRatio='none' viewBox='0 0 1440 529'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1266%26quot%3b)' fill='none'%3e%3crect width='1440' height='529' x='0' y='0' fill='url(%23SvgjsLinearGradient1267)'%3e%3c/rect%3e%3cpath d='M664.58 573.47C736.98 571.32 712.5 470.85 932.35 462.79 1152.2 454.73 1320.39 220.12 1467.88 214.16' stroke='rgba(255%2c 252%2c 252%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M577.16 601.87C735.98 588.65 842.66 267.35 1119.13 266.25 1395.6 265.15 1522.52 381.98 1661.1 382.63' stroke='rgba(255%2c 252%2c 252%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M517.53 625.42C615.08 619.31 583.95 444 859.98 436.75 1136 429.5 1365.28 222.43 1544.87 219.86' stroke='rgba(255%2c 252%2c 252%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M254.76 541.93C427.1 541.93 592.67 529.13 943.99 527.82 1295.3 526.51 1449.17 272.85 1633.21 268.61' stroke='rgba(255%2c 252%2c 252%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M784.35 612.02C866.78 606.2 831.31 457.88 1070.45 446.47 1309.59 435.06 1485.72 193.21 1642.65 187.26' stroke='rgba(255%2c 252%2c 252%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1266'%3e%3crect width='1440' height='529' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1267'%3e%3cstop stop-color='rgba(0%2c 21%2c 86%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(157%2c 173%2c 224%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  overflow: hidden;
  background-color: #eff0f6;
  color:  black;	
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 5px;
}

.topnav {
  overflow: hidden;
  background-color: #eff0f6;
  border-radius: 5px;
}

.topnav a, .topnav span {
  float: left;
  color:  black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ff4242;
}

.topnav a.active {
  background-color: #ca2301;
  color: white;
}

/* Right aligned navigation items */
.topnav-right {
	float: right
}

.search input[type=text] {
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  margin-top: 10px;
  margin-left: 10px;
  outline: 0;
  float: left;
  width: 30%;
  background: white;
}

.search button {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #eff0f6;
  color: black;
}

.search button:hover, .login-form button:hover {
	background: #ff4242;
	opacity: 0.7;
}

.web-search-form {
	margin-top: 60px;
}

/* style cards that hold the game data */
.roundcard {
  border-radius: 25px;
  border: 4px solid #eff0f6;
  margin-top:7px;
  margin-bottom:7px;
  margin-left:6px;
  margin-right:7px;
  padding: 20px; 
  width: 700px;
  height: 220px;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  opacity: 0.8;
  position: relative;
}

.roundcard-list {
	height: 110px;
	margin-bottom: 13px;
}

.roundcard-list:hover {
	cursor: pointer;
}

.roundcard-modal-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 0.7;
  width: 50px;
  height: 50px;
}

.roundcard-modal-button:hover {
	opacity: 1;
}

.gamedata, .shelf-data {
  margin-top:3px;
  margin-bottom:3px;
  margin-left:3px;
  margin-right:3px;	
}

.footer {
  overflow: hidden;
  background-color: #eff0f6;
  border-radius: 5px;
  bottom: 8px;
  right: 8px;
  position: fixed;
}

.footer a {
  float: right;
  color:  black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footer a:hover {
  background-color:  #ff4242;
}

.footer a.active {
	background-color: #ca2301;
	color: white;
}

.login-container {
  height: 100vh;
  position: relative;
  top: 25px;
}

.login {
  margin: auto;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.login-header > h2 {
  margin: 0;
  color: #ca2301;
}

.login-header > h4 {
  margin-top: 10px;
  font-weight: thick;
  font-size: 16px;
  color: black;
}

.login-form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.login-form > p {
  text-align: right;
}

.login-form > p > a {
  color: #000;
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: Calibri, sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: black;
}

.login-anchor {
	color: #9ca7fd;
}

.login-form > input[type="submit"] {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #ff4242 0%, #ca2301 100%); 
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: Calibri, sans-serif;
}

.login-form > input[type="submit"]:hover, .new-list-button:hover, .list-create-confirm-button:hover, .add-to-list-button:hover {
	background: linear-gradient(to right, #ca2301 0%, #ff4242 100%);
	cursor: pointer;
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 0.3s;
}

.a2 {
  animation-delay: 0.4s;
}

.a3 {
  animation-delay: 0.5s;
}

.a4 {
  animation-delay: 0.6s;
}

.a5 {
  animation-delay: 0.7s;
}

.a6 {
  animation-delay: 0.8s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}

.empty-list-info p {
	font-size: 40px;
	margin-left: 25px;
}

.new-list-button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #ff4242 0%, #ca2301 100%); 
  border-radius: 3px;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 1px;
  font-family: Calibri, sans-serif;
  width: 200px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.inner-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.inner-popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.inner-popup .close:hover {
  color: #ff4242;
}

.inner-popup .content {
  max-height: 30%;
  overflow: auto;
}

.inner-popup textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  font-family: Calibri, sans-serif;
  resize: none;
}

.inner-popup input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.list-create-confirm-button, .add-to-list-button {
  padding: 12px 10px;
  border: 0;
  background: linear-gradient(to right, #ff4242 0%, #ca2301 100%); 
  border-radius: 3px;
  margin-top: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-family: Calibri, sans-serif;
  width: 20%;
}

.game-list-table, .page-numbers{
  margin-left: 25px;
  margin-top: 30px;
  margin-right:25px;
}

.game-list-table td, th {
  border: 1px solid grey;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
}

.pagination-div {
  user-select: none;
}

.pagination-div span {
  border-radius:3px;
  border:1px solid #999;
  padding:5px;margin:10px 0px 0px 10px;
  display:inline-block;
  background-color: white;
}

.pagination-div span.selected {
  background:#ccf;
}

.checkbox-hidden {
	display: none;
}

