<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My List</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $(".roundcard").click(function(){
      window.location = $(this).find("a").attr("href");
      return false;
     });
  });
  </script>
</head>


<body th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
  <h1 class="header">Game Lookup</h1>
  <div class="topnav">
    <a href="/home">Home</a>
    <a href="/web_search">Web Search</a>
    <a th:href="@{/{username}/my_lists(username=${currentUser})}">My Lists</a>
  	<div class="topnav-right">
  	  <div th:if="${currentUser != null}">
  	    <span th:text="${'Logged in as: ' + currentUser}"></span>
  	    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Log out</a>
  	    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
          <input hidden="true" type="submit" value="Sign Out"/>
        </form> 
  	  </div> 
	</div > <!-- topnav-right -->
  </div> <!-- topnav -->
  
  <table class="game-list-table" border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Genres</th>
        <th>Platforms</th>
        <th>Release Date</th>
        <th>Metacritic Score</th>
        <th>ESRB Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="game, itemStat : ${gamePage.content}"
          th:alt-title="${itemStat.even}? 'even' : 'odd'">
          <td th:text="${game.id}" />
          <td th:text="${game.name}" />
          <td th:text="${game.genres}" />
          <td th:text="${game.platforms}" />
          <td th:text="${game.releaseDate}" />
          <td th:text="${game.metacriticScore}" />
          <td th:text="${game.esrbRating}" />
        </tr>
    </tbody>
  
  </table>
  <div class="pagination-div page-numbers">
    <span th:if="${gamePage.hasPrevious()}">
      <a th:href="@{/{username}/my_lists/{shelfId}(username=${currentUser},  shelfId=${shelf.id}, page=${gamePage.number-1},size=${gamePage.size})}">Previous</a>
    </span>
    <th:block th:each="i: ${#numbers.sequence(0, gamePage.totalPages - 1)}">
      <span th:if="${gamePage.number == i}" class="selected">[[${i}+1]]</span>
      <span th:unless="${gamePage.number == i}">
        <a th:href="@{/{username}/my_lists/{shelfId}(username=${currentUser},  shelfId=${shelf.id}, gamePage=${i},size=${gamePage.size})}">[[${i}+1]]</a>
      </span>
    </th:block>  
    <span th:if="${gamePage.hasNext()}">
      <a th:href="@{/{username}/my_lists/{shelfId}(username=${currentUser},  shelfId=${shelf.id}, page=${gamePage.number+1},size=${gamePage.size})}">Next</a>
    </span>
  </div>

  <div class="footer">
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
  </div>
</body>
</html>