<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Lookup Login</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
  <h1 class="header">Game Lookup</h1>
  <div class="topnav">
    <a href="home">Home</a>
    <a href="web_search">Search</a>
  	<div class="topnav-right">
      <a class="active" href="login">Log in</a>
	</div>
  </div>
  
  
  
  
  
  <div class="footer">
    <a href="contact">Contact</a>
    <a href="about">About</a>
  </div>
</body>


</html>