<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Lookup Login</title>
  
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
  <h1 class="header">Game Lookup</h1>
  <div class="topnav">
    <a href="home">Home</a>
    <a href="web_search">Web Search</a>
    <a href="My Lists">My Lists</a>
  	<div class="topnav-right">
      <a class="active" href="login">Log in</a>
	</div>
  </div>
  
  <div class="login-container">
    <div class="login">
      <div class="login-header">
        <h2 class="animation a1">Welcome Back</h2>
        <h4 class="animation a2">Log in to your account</h4>
      </div>
  
      <form th:action="@{/login}" name="loginForm" method="post">   
     
        <div class="login-form">
          <label for="username"></label>
          <input type="text" class="form-field   animation a3" id="username" name="username" placeholder="Username" required>
          <label for="password"></label>
          <input type="password" class="form-field animation a4" id="password" name="password" autocomplete="off" placeholder="Password" required>
          <input type="submit" class="animation a6" value="Log in">
        </div>
        <a style="color: white;" href="sign_up">Sign up</a>
         <div th:if="${param.error}" class="alert alert-error">
           <p style="color: red;">Invalid username or password.</p>
         </div>
     
      </form>
    </div>
  </div>
  
  <div class="footer">
    <a href="contact">Contact</a>
    <a href="about">About</a>
  </div>
</body>


</html>