<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Lists</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
  <h1 class="header">Game Lookup</h1>
  <div class="topnav" th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
    <a href="/home">Home</a>
    <a href="/web_search">Web Search</a>
    <a th:href="@{/my_lists/{username}(username=${currentUser})}">My Lists</a>
  	<div class="topnav-right" th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
  	  <div th:if="${currentUser != null}">
  	    <span th:text="${'Logged in as: ' + currentUser}"></span>
  	    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Log out</a>
  	    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
          <input hidden="true" type="submit" value="Sign Out"/>
        </form> 
  	  </div> 
	</div > <!-- topnav-right -->
  </div> <!-- topnav -->
  
  <div class="empty-list-info" th:if="${#lists.isEmpty(shelves)}" style="color:white;"> 
    <p>It's empty here...</p>
    <p>Try creating some lists:</p>
  </div>
  
  <div th:unless="${#lists.isEmpty(shelves)}">
    
    
  
  </div>
  
  <a class="new-list-button" href="#new-list-popup">
    New List
  </a>
  
  <div id="new-list-popup" class="overlay" th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
    <div class="inner-popup">
      <h2>Create a New Game List</h2>
      <a class="close" href="#">&times;</a>
      <form method="post" th:action="@{/my_lists/{username}(username=${currentUser})}" name="createListForm" th:object="${shelfDto}">
        <label for="name">Name</label>
        <input type="text" placeholder="Name..." name="name" id="name" th:field="*{name}"/>
        <p style="color: red;" th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
        <label for="description">Description</label>
        <textarea name="description" th:field="*{description}">Description...</textarea>
        <span style="color: red;" th:if="${#fields.hasErrors('description')}" th:errorclass="error" th:errors="*{description}"></span>
        
        <button type="submit" class="list-create-confirm-button">Create</button>
      </form>
    </div>  
  </div>

  <div class="footer">
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
  </div>
</body>
</html>