<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Lookup Sign Up</title>
  
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
  <h1 class="header">Game Lookup</h1>
  <div class="topnav">
    <a href="home">Home</a>
    <a href="web_search">Web Search</a>
    <a href="my_lists">My Lists</a>
  	<div class="topnav-right">
      <a class="active" href="login">Log in</a>
	</div>
  </div>
  
  <div class="login-container">
    <div class="login">
      <div class="login-header">
        <h2 class="animation a1">Sign Up</h2>
        <h4 class="animation a2">Fill in the form below to register</h4>
      </div>
  
      <form th:action="@{/sign_up}" name="signUpForm" method="post" th:object="${userDto}">   
     
        <div class="login-form">
          <label for="username"></label>
          <input type="text" class="form-field   animation a3" id="username" 
            name="username" placeholder="Username" th:field="*{username}">
            <span style="color: red;" th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"></span>
            
          <label for="email"></label>
          <input type="text" class="form-field animation a3" id="email" 
            name="email" placeholder="Email" th:field="*{email}">
            <span style="color: red;" th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></span>
          
          <label for="password"></label>
          <input type="password" class="form-field animation a4" id="password" 
            name="password" autocomplete="off" placeholder="Password" th:field="*{password}">
            <span style="color: red;" th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></span>
            
          <label for="passwordConfirm"></label>
          <input type="password" class="form-field animation a4" id="passwordConfirm" 
            name="passwordConfirm" autocomplete="off" placeholder="Confirm password" th:field="*{matchingPassword}">
            <span style="color: red;" th:if="${#fields.hasErrors('${userDto}')}" th:errors="${userDto}"></span>
          
          <input type="submit" class="animation a6" value="Sign up">
        </div>
        <p style="color: white;">Already registered? <a style="color: white;" href="login">Log in</a></p>
      </form>
      


      
    </div>
  </div>
  
  <div class="footer">
    <a href="contact">Contact</a>
    <a href="about">About</a>
  </div>
</body>


</html>