<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Lookup Web-Search Page</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
  <h1 class="header">Game Lookup</h1>
  <div class="topnav">
    <a href="/home">Home</a>
    <a class="active" href="/web_search">Web Search</a>
    <a href="/my_lists">My Lists</a>
  	<div class="topnav-right" th:with="currentUser=${#httpServletRequest.userPrincipal?.name}">
  	   <div th:if="${currentUser != null}">
  	    <span th:text="${'Logged in as: ' + currentUser}"></span>
  	    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Log out</a>
  	    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
          <input hidden="true" type="submit" value="Sign Out"/>
        </form> 
  	  </div> 
	</div>
  </div>

  <div class="search">
    <form action="#" th:action="@{/web_search/search}" method="get">
    
      <input type="text" placeholder="Search..." name="query" required>
      <button type="submit">Submit</button>
      
    </form>
  </div>
  <div class="footer">
    <a href="contact">Contact</a>
    <a href="about">About</a>
  </div>
 
</body>
</html>