<!doctype html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Lookup Web-Search Page</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
  <div class="topnav">
    <a href="home">Home</a>
    <a class="active" href="web_search">Search</a>
  	<div class="topnav-right">
      <a href="contact">Contact</a>
  	  <a href="about">About</a>
	</div>
  </div>

  <div class="search">
    <input type="text" placeholder="Search..." name="search">
    <button type="submit">Submit</button>
  </div>
 
</body>
</html>